body {
    background: rgb(255,203,0);
    background: linear-gradient(180deg, rgba(255,203,0,1) 1%, rgba(121,119,9,1) 49%, rgba(0,0,0,1) 100%); 
}

.navbar {
    border: black solid 1px;
    margin-left: 1em;
    margin-right: 1em;
}

#logo{
    border-radius: 30%;
    margin-left: 1em;
}

#div_fecha{
    
    border: black solid 1px;
    background-color: gray;
}

#fecha {
    color: yellow;
}

.login{
    text-decoration: none;
    margin: 1em;
}

#legal_advise {
    background-color: black;
    color: darkred;
}

.list_item{
    background-color: gray;
    border-radius: 30%;
    margin-left: 2em;
}

.list_item a p{
    margin: 0;
    color: black;
}
.list_item a p:hover{
    color: gold;
}

#search_button{
    padding: 1em;
}

#second_navbar{
    margin-top: 0.5em;
}

#second_navbar_left{
    width: 85%;
    height: 1em;
}

#footer {
    margin-top: 2em;
}



.helptext{
    color: gold;
}

.post-form ul{
    color: gold;
}

.errorlist li{
    color: red;
}