.post-form ul{
    list-style: none;
}


#form {
    width: 10em;
    margin-top: 1em;
    margin-bottom: 1em;
    background-color: #343a40;
}

.post-form{
    padding: 1em;
}

#btn{
    display: flex;
    justify-content: center;
}

.post-form .btn{
    background-color: gray;
}

.post-form label{
    background-color: gray;
}


.post-form ul li label{
    background-color: #343a40;
}
