{% extends 'base.html' %}
{% load static %}

{% block title %}
Detalles de {{ticker}}
{% endblock %}

{% block content %}

<link href="{% static '/css/markets_index_detail.css' %}" rel="stylesheet">
<script type="text/javascript" src="http://code.jquery.com/jquery-1.10.0.min.js"></script>
<script type="text/javascript" src="{% static 'js/Chart.min.js' %}"></script>

<script src="https://cdn.jsdelivr.net/npm/hammerjs@2.0.8"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/chartjs-plugin-zoom/0.7.7/chartjs-plugin-zoom.min.js"></script>

<script type="text/javascript">
    $.get('{% url "index_closures" %}?ticker={{ticker}}', function (data) {
        var ctx = $("#closuresChart").get(0).getContext("2d");
        var options = {
            responsive: false,
            maintainAspectRatio: false,
            plugins: {
                zoom: {
                    zoom: {
                        enabled: true,
                        mode: 'x',
                    },
                    limits: {
                        y: {
                            min: 0
                        }
                    },
                }
            },
            scales: {
                xAxes: [{
                    stacked: false,
                    barPercentage: 10,
                    ticks: {

                    },
                }],
                yAxes: [{
                    stacked: true,
                    ticks: {

                    }
                }]
            }
        };
        new Chart(ctx, {
            type: 'line', data: data,
            options: options
        });
    });

    $.get('{% url "index_returns" %}?ticker={{ticker}}', function (data) {
        var ctx = $("#returnsChart").get(0).getContext("2d");
        var options = {
            responsive: false,
            maintainAspectRatio: false,
            plugins: {
                zoom: {
                    zoom: {
                        enabled: true,
                        mode: 'x',
                    },
                    limits: {
                        y: {
                            min: 0
                        }
                    },
                }
            },
            scales: {
                xAxes: [{
                    stacked: false,
                    barPercentage: 10,
                    ticks: {

                    },
                }],
                yAxes: [{
                    stacked: true,
                    ticks: {

                    }
                }]
            }
        };
        new Chart(ctx, {
            type: 'bar', data: data,
            options: options
        });
    });

</script>

<div class="row" id="markets_list">
    <div class="col-xl-12" id="index_col">
        <div class="row">
            <div class="col">
                <h2 id="index_title">{{index.name}}</h2>
                <div id="index_info">
                    <ul class="index_data">
                        <li>ticker: {{index.ticker}}</li>
                        <li><a id="stocks_link" href="{% url 'stocks' %}?exchange={{index.ticker}}">
                                <p>Acciones</p>
                            </a>
                        </li>
                    </ul>
                    <ul class="index_data">
                        <li>Primera fecha: {{index.first_date}}</li>
                        <li>Ultima fecha: {{index.last_date}}</li>
                    </ul>
                    <ul class="index_data">
                        <li>CAGR 3 años: {{index.cagr.3yr}}</li>
                        <li>CAGR 5 años: {{index.cagr.5yr}}</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row" id="charts">
            <div class="col">
                <div style="overflow-x: scroll">
                    <div class="chart-container" position="relative">
                        <canvas id="closuresChart" width="2400" height="600"></canvas>
                    </div>
                </div>
                <div style="overflow-x: scroll">
                    <div class="chart-container" position="relative">
                        <canvas id="returnsChart" width="2400" height="600"></canvas>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}