{% extends 'base.html' %}
{% load static %}

{% block title %}
perfil de {{ user_name }}
{% endblock %}

{% block content %}
<link href="{% static 'profiles/css/user_profile.css' %}" rel="stylesheet">

<div class="row">
    <div class="col">
        <div class="row">
            <ul class="list-group" id="profile">
                <li class="list-group-item profile_info">Nombre de usuario: {{user.username }}</li>
                <li class="list-group-item profile_info">email: {{user.email }}</li>
                <li class="list-group-item profile_info">
                    <div class="row">
                        <div>
                            <form action="{% url 'update_user_profile' pk=user.pk %}" method="GET">
                                <button id="profile_info_modify_btn" type="submit" class="btn btn-primary risk_lvl_btn">
                                    Modificar información </button>
                            </form>
                        </div>
                        <div>
                            <form action="{% url 'delete_user_profile' pk=user.pk %}" method="GET">
                                <button id="profile_info_remove_btn" type="submit" class="btn btn-primary risk_lvl_btn">
                                    Eliminar el perfil </button>
                            </form>
                        </div>
                    </div>
                </li>
            </ul>
            <div id="portfolio_summary">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Accion</th>
                            <th scope="col">ISIN</th>
                            <th scope="col">Precio</th>
                            <th scope="col">Variacion</th>
                            <th scope="col">>Volatilidad</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">Acciona</th>
                            <td>ANA</td>
                            <td>137.2</td>
                            <td></td>
                        </tr>
                        <tr>
                            <th scope="row">2</th>
                            <td>Jacob</td>
                            <td>Thornton</td>
                            <td>@fat</td>
                        </tr>
                        <tr>
                            <th scope="row">3</th>
                            <td>Larry</td>
                            <td>the Bird</td>
                            <td>@twitter</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="row">
            <div class="col" id="favorite_market_summary">
                <div class="row">
                    <div class="col" id="market_title">
                        <h1>{{index_name}}</h1>
                    </div>
                </div>
                <div class="row">
                    <div class="col market_index_data">
                        <span class="price_row">Variación</span>
                        {% if index_growth %}
                        <div class="d-inline-block align-middle mr-2"><img width="20" height="20" class="index_growth"
                                src="{% static 'images/index_up.svg' %}">
                            <span class="market_index_value">+{{index_value}}%</span>
                        </div>
                        {% else %}
                        <div class="d-inline-block align-middle mr-2"><img width="20" height="20" class="index_growth"
                                src="{% static 'images/index_down.svg' %}">
                            <span class="market_index_value">{{index_value}}%</span>
                        </div>
                        {% endif %}
                    </div>
                    <div class="col market_index_data">
                        <span class="price_row">Puntos</span>
                        {% if index_growth %}
                        <div class="d-inline-block align-middle mr-2"><img width="20" height="20" class="index_growth"
                                src="{% static 'images/index_up.svg' %}">
                            <span class="index_points_value">+{{index_last_value}}</span>
                        </div>
                        {% else %}
                        <div class="d-inline-block align-middle mr-2"><img width="20" height="20" class="index_growth"
                                src="{% static 'images/index_down.svg' %}">
                            <span class="index_points_value">{{index_last_value}}</span>
                        </div>
                        {% endif %}
                        <span>pts</span>
                    </div>
                </div>
                <hr>
            </div>
            <div class="w-100"></div>
            <div class="col" id="risk_lvl_col">
                <div class="risk_lvl">
                    <div class="risk col">
                        <h1 id="user_risk_lvl">{{user_risk_lvl}}</h1>
                        <div>
                            <form action="{% url 'risk_profile' %}" method="GET">
                                <button type="submit" class="btn btn-primary risk_lvl_btn"> Cambiar </button>
                            </form>
                        </div>
                    </div>
                    <div class="risk_lvl_info">
                        <p>El perfil de riesgo indica la capacidad del inversor de asumir pérdidas.
                            Existe una estrecha relación entre rentabilidad y riesgo.<br>
                            Para tener la posibilidad de obtener una mayor rentabilidad
                            es necesario asumir un mayor riesgo.
                            En investapp se establecen tres niveles: <br>BAJO, MODERADO y ALTO.
                        </p>
                        <p>
                            Toda inversión tiene un riesgo asociado.
                            Este riesgo se define como la probabilidad de
                            que el rendimiento sea menor al esperado. <br>
                            En general, las inversiones con mayor rendimiento esperado, tienen mayor riesgo
                            asociado.
                        </p>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}