#form {
    width: 10em;
    margin-top: 1em;
    margin-bottom: 1em;
    background-color: #343a40;
    border-radius: 2%;
}

#form .btn{
    background-color: gray;
}

#form label{
    background-color: gray;
}

#form input {
    width: 80%;
}

.post-form {
margin-top: 0.9em;
margin-bottom: 0px;
}

#btn {
    display: flex;
    justify-content: center;
}
#register_link{
    display: flex;
    justify-content: center;
    margin-bottom: 0.9em;
}
