#main{
    background-color: #343a40;    
    margin: 1em;
}

#content{
    padding-left: 10em;
    padding-right: 10em;
}

#content p{
    color: darkred;
    background-color: gray;
}

#form_btn{
    background-color: gray;
}